@use '../../../scss/variables' as v;
@use 'sass:color';
@use '../../../scss/mixins' as m;
.card-product{
    width: 50rem;
    height: 50rem;
    background: linear-gradient(135deg, v.$ceramic, v.$morado);
    border-radius: 2rem;
    overflow: hidden;

    .imgProduct{
        display: flex;
        justify-content: center;
        align-items: center;   
        width: 100%;
        height: 50%;
    }
    .imgProduct img {
    max-width: 70%;
    // height: auto;
}

    .info-product{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        text-align: start;

        h3{
            text-align: start;
            font-weight: v.$bold;
            margin: 0;
        }

        p{
            color: v.$ceramic;
        }
        .precio-product{
            color: black;
        }
    }
}