@use '../../../scss/variables' as v;
@use 'sass:color';
@use '../../../scss/mixins' as m;

.product-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
    padding-left: 1rem;
    padding-right: 1rem;
    
    // padding: 1rem;
    
    // // Opcional (mejora visual)
    // scroll-behavior: smooth;
    // scrollbar-width: none; // para Firefox

    // &::-webkit-scrollbar {
    //     display: none; // para Chrome
    // }
}

.card-product {
    flex: 0 0 auto; // ⬅️ Muy importante: evita que se encojan o estiren
    scroll-snap-align: start; // ayuda con scroll-snap

    width: 25rem;
    height: 40rem;
    background: linear-gradient(135deg, v.$ceramic, v.$blanco);
    border-radius: 2rem;
    overflow: visible;
    margin: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imgProduct {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 3rem;
        // height: 50%;
    }

    .imgProduct img {
        width: 60%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        /* o contain */
        // max-width: 70%;
        // // height: auto;
    }

    .divider {

        border: none;
        height: 1px;
        background-color: v.$ceramic;
        width: 80%;
        margin-bottom: 0;
        // margin: 0;
        /* Puedes cambiar el color */
        // margin: 10px 0;
        /* Espaciado vertical */
    }

    .info-product {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: start;
        line-height: 3rem;
        overflow: hidden;
        justify-content: center;
        bottom: 1rem;



        h3 {
            text-align: start;
            font-weight: v.$bold;
            margin: 0;
        }

        p {
            color: v.$ceramic;
        }

        .precio-product {
            color: black;
        }
    }
}

.card-product * {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}