<div class="card-product">

    <div class="imgProduct">
        <img src="https://dm.henkel-dam.com/is/image/henkel/negro-azulado-?wid=720&fmt=webp-alpha&qlt=90&fit=vfit"
            alt="">
    </div>
    
    <div class="info-product">
        <h3 class="title-product">Rojo Violeta</h3>
        <p class="number-product">7.3</p>
        <p class="description-product">Incluye peroxido vol.20</p>
        <p class="stock-product">Disponibles: 8 piezas</p>
        <p class="precio-product">$ 68</p>
    </div>
</div>