<!-- <app-page-description></app-page-description> -->

<div class="category-title">
    <h1>Categorías de productos</h1>
</div>

<!-- <div class="container"> -->
<div class="content-products">

    <div class="box-product-category" *ngFor="let marca of marcas">
        <h1>{{marca.nameMarca}}</h1>
        <img src="http://localhost:3000/{{marca.imgMarca}}" [alt]="marca.imgMarca" />
        <app-button class="button-details" [routerLink]="[marca.nameMarca]"></app-button>

    </div>
</div>
<!-- </div> -->