<h1 class="category-title">Categorias de productos</h1>
<div class="content-products">

    <div class="box-product-category">
        <h1>Tintes KUUl</h1>
        <p class="product-category-description">Tonos vibrantes y duraderos, además de su fórmula sin amoníaco que no
            daña el cabello,entra y descubre los tonos permanentes o fantasía que tenemos para ti.</p>
        <img src="https://donjuan.mx/cdn/shop/files/tintes-kuul.jpg?v=1740181965&width=1445" alt="">
        <!-- <picture>
            <source srcset="../../../../img/tintes-kuul.webp" type="image/webp">
            <source srcset="build/img/naturales.jpg" type="image/jpeg">
            <img loading="lazy" src="../../../../img/tintes-kuul.webp" alt="naturales">
        </picture>
        <img src="../../../../img/tintes-kuul.webp" alt=""> -->

        <app-button class="button-details"></app-button>
        <!-- <a href="">Ver productos disponibles</a> -->
    </div>

    <div class="box-product-category">
        <h1>Tintes HIDRA COLOR</h1>
        <p class="product-category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
            blanditiis vitae eos sequi beatae maxime quia, dignissimos nobis cum accusantium, facilis, esse voluptate
            quis incidunt quod atque soluta ut.</p>
        <img src="https://www.elpalaciodelabelleza.com.mx/cdn/shop/files/NUEVAPRESENTACION_2645226f-e307-45c8-b050-90e4e057f8a4.png?v=1710460504"
            alt="">
        <!-- <a href="">Ver productos disponibles</a> -->
        <app-button class="button-details"></app-button>

    </div>
    <div class="box-product-category">
        <h1>Tintes COLOR TECH</h1>
        <p class="product-category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
            blanditiis vitae eos sequi beatae maxime quia, dignissimos nobis cum accusantium, facilis, esse voluptate
            quis incidunt quod atque soluta ut.</p>
        <img src="https://distribuidoramairim.com/cdn/shop/files/1.png?v=1687210734" alt="">
        <!-- <a href="">Ver productos disponibles</a> -->
        <app-button class="button-details"></app-button>

    </div>
    <div class="box-product-category">
        <h1>Tintes COLOR TECH</h1>
        <p class="product-category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
            blanditiis vitae eos sequi beatae maxime quia, dignissimos nobis cum accusantium, facilis, esse voluptate
            quis incidunt quod atque soluta ut.</p>
        <img src="https://distribuidoramairim.com/cdn/shop/files/1.png?v=1687210734" alt="">
        <!-- <a href="">Ver productos disponibles</a> -->
        <app-button class="button-details"></app-button>

    </div>




</div>