<header class=" header inicio">
    <div class="overlay"></div>

    <div class="contenedor contenido-header">
        <div class="barra">
            <a href="/">
                <h1 class="title-header">Distribuidora <span>Lizz</span></h1>
            </a>

            <nav class="menu-header">
                <a href=""><i class="fa-solid fa-house"></i>Inicio</a>
                <a href=""><i class="fa-solid fa-list-ul"></i>servicios</a>
                <a href=""><i class="fa-solid fa-cart-shopping"></i>Mi carrito</a>
                <a href=""><i class="fa-solid fa-circle-user"></i>Perfil</a>
            </nav>

        </div><!-- .barra -->

        <h3 class="slogan-header">Tu cabello, tu estilo</h3>
    </div><!-- .contenido-header -->


</header>