<!-- no se usara BORRAR -->
<div class="kuulContainer">
    <h1>Kuul</h1>
    <p class="kuulDescription">Tonos vibrantes y duraderos, además de su fórmula sin amoníaco que no
        daña el cabello, descubre los tonos permanentes o fantasía que tenemos para ti.</p>

    <div class="categoryDescriptionButton">
        <app-title-description [subtitle]="'KÜÜL COLOR SYSTEM'"
            [title]="'COLORACIÓN PERMANENTE'"></app-title-description>
        <app-button [routerLink]="['coloracionFantasia']" [name]="'Ver todo'"></app-button>
    </div>

    <div class="scroll-container">
        <!-- <div class="productList"> -->
        <app-product-description class="scroll-container" [productos] = "productos"></app-product-description>
        
        <!-- </div> -->
    </div>

    <div class="categoryDescriptionButton">
        <app-title-description [subtitle]="'FUNNY COLORS'" [title]="'COLORACIÓN FANTASÍA'"></app-title-description>
        <app-button [name]="'Ver todo'"></app-button>
    </div>

    <div class="scroll-container">

        <!-- <div class="productList"> -->
        <!-- <app-product-description></app-product-description> -->


        <!-- </div> -->
    </div>

    <div class="categoryDescriptionButton">
        <app-title-description [subtitle]="'BLEACH ME'" [title]="'DECOLORACIÓN PERFECTA'"></app-title-description>
        <app-button [name]="'Ver todo'"></app-button>
    </div>


    <div class="scroll-container">
        <!-- <div class="productList"> -->
        <!-- <app-product-description></app-product-description> -->


        <!-- </div> -->
    </div>




</div>