@use '../../../scss/variables' as v;
@use 'sass:color';
@use '../../../scss/mixins' as m;

.kuulContainer {
    margin: 2rem;
    display: grid;
    // align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    // cortar a otro componente separado
    h1 {
        color: v.$blanco;
        font-weight: v.$bold;
        margin: 0;
    }

    .kuulDescription {
        color: v.$ceramic;
        margin: 2rem;
        text-align: center;

        @include m.tablet {
            font-size: v.$tamaño_texto_subtitulo;
        }
    }
    
    .productList {
      display: flex;
      flex-wrap: wrap; /* si quieres que se acomoden en varias líneas */
      justify-content: center; /* centra horizontalmente */
      gap: 16px; /* espacio entre componentes, opcional */
    }

}

    .scroll-container {
      display: flex;
      overflow-x: auto;
      gap: 1rem;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;//   oculta la barra de scroll
    }
