<div class="kuulContainer">
    <h1>Kuul</h1>
    <p class="kuulDescription">Tonos vibrantes y duraderos, además de su fórmula sin amoníaco que no
        daña el cabello,entra y descubre los tonos permanentes o fantasía que tenemos para ti.</p>


        <app-title-description [subtitle]="'KÜÜL COLOR SYSTEM'" [title]="'COLORACIÓN PERMANENTE'"></app-title-description>
    <div class="scroll-container">

        <!-- <div class="productList"> -->
            <app-product-description></app-product-description>
            <app-product-description></app-product-description>
            <app-product-description></app-product-description>
            <app-product-description></app-product-description>
            <app-product-description></app-product-description>
            <app-product-description></app-product-description>
            <app-product-description></app-product-description>
            <app-product-description></app-product-description>

        <!-- </div> -->
    </div>

</div>