@use '../../../scss/mixins' as m;
@use '../../../scss/variables' as V;

.principal-page-content {
    background: linear-gradient(135deg, #230440, #ee0979);

    top: 0;
    left: 0;
    // width: 100vw;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;    
    height: auto;
    // padding: 5rem;
}