@use '../../scss/variables' as v;
@use '../../scss/mixins' as m;
@use 'sass:color';


.footer {
    position: relative;
    background: linear-gradient(280deg,
            rgba(v.$gris, 0.2),
            rgba(color.adjust(v.$gris, $lightness: -90%), 0.9)
            /* rgba(color.adjust(v.$morado, $lightness: -20%)90%) 
      /*  rgba( darken( v.$morado , 20% ), 90% )  */
        );
    background-color: v.$slate;
    padding: 1rem 0 0rem 0;

    &.inicio {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            min-height: 60rem;
        }

        .contenido-header {
            @include m.tablet {
                min-height: 60rem;
            }
        }
    }

    .copyright{
        text-align: center;
        color: v.$gris;
    }
}

.contenido-footer {
    position: relative;
    // z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .barra {
     

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        justify-content: space-between;
        
        .title-footer {
            font-weight: bold;
            color: v.$late;
            
            span {
                font-weight: 100;
            }
        }
        
                @include m.tablet {
                    display: flex;
                    flex-direction: row;
                }
    }

    .menu-footer a {
        color: v.$blanco;
        padding-right: 1.6rem;
        display: block;
        text-align: center;

        
        i {
            padding-right: .8rem;
        }
        @include m.tablet {
            display: inline-block;
        }
    }
}